<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goal.mundial.video"
    android:versionCode="8"
    android:versionName="1.4.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.goal.mundial.video.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goal.mundial.video.ListAvatarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.goal.mundial.video.PantallaVideoPalabra"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.goal.mundial.video.DialogCustomFve"
            android:screenOrientation="portrait" >

            <!-- android:theme="@android:style/Theme.Holo.Dialog" > -->
        </activity>

        <meta-data
            android:name="INVOKE_SERVICE"
            android:value="com.goal.mundial.video.TTSService" />

        <receiver android:name="eu.fundacionvf.communication.CommunicationReceiver" >
            <intent-filter>
                <action android:name="ttsservice" />
            </intent-filter>
        </receiver>

        <service android:name="com.goal.mundial.video.TTSService" >
        </service>

        <activity
            android:name="com.goal.mundial.video.SelectCategory"
            android:label="@string/title_activity_select_category" >
        </activity>
    </application>

</manifest>
